<h2>Resumen</h2>
<div class="container">
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <label class="form-label">Nomina</label>
                <select class="form-control" #nomin>
                    <option *ngFor="let item of nominas" [value]="item.nom">
                        {{item.nom}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Fecha inicial</label>
                <select class="form-control" #datei>
                    <option *ngFor="let date of dates" [value]="date.fecha">
                        {{date.fecha}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Fecha Final</label>
                <select class="form-control" #datef>
                    <option *ngFor="let date of dates" [value]="date.fecha">
                        {{date.fecha}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Tipo de Nomina</label>
                <select class="form-control" #tnomina>
                    <option *ngFor="let nom of tnominas" [value]="nom.tipo">
                        {{nom.tipo}}
                    </option>
                </select>
            </div>
        <div class="col">
            <br>
            <button (click)="SearchAbstract(nomin.value,datei.value,datef.value,tnomina.value)"
                class="btn btn-primary" style="margin-top: 8px;">buscar</button>
        </div>
        </div>
    </div>
    <div class="mat-elevation-z8" style="text-align: center;">
        <table mat-table [dataSource]="dataSource" style="width: 100%;">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="detalles">
                <th mat-header-cell *matHeaderCellDef> detalles </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-link btn-sm"
                        (click)="detalle(element.position,element.name,element.weight,element.symbol)">detalles</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>