<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" style="width: 100%;text-align: center ;">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Matricula </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Empleado </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> CPBID </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> x </td>
        </ng-container>

        <ng-container matColumnDef="x2">
            <th mat-header-cell *matHeaderCellDef> UUID </th>
            <td mat-cell *matCellDef="let element"> x </td>
        </ng-container>

        <ng-container matColumnDef="x3">
            <th mat-header-cell *matHeaderCellDef> Mensaje </th>
            <td mat-cell *matCellDef="let element"> x </td>
        </ng-container>

        <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-link btn-sm">detalles</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
