<h2>{{title}}</h2>
<mat-tab-group class="bg-dark" style="width: 90%;margin-left:5%;padding: 1%;">
    <mat-tab label="No generadas"><h4 class="text-bg-dark">Contenido 1</h4><app-nongen [queryinfo]="queryinfop"></app-nongen></mat-tab>
    <mat-tab label="Generadas"><h4 class="text-bg-dark">Contenido 2</h4><app-gen [queryinfo]="queryinfop"></app-gen></mat-tab>
    <mat-tab label="Error"><h4 class="text-bg-dark">Contenido 3</h4><app-nongen [queryinfo]="queryinfop"></app-nongen></mat-tab>
    <mat-tab label="Precanceladas"><h4 class="text-bg-dark">Contenido 4</h4><app-pending></app-pending></mat-tab>
    <mat-tab label="Sustitucion"><h4 class="text-bg-dark">Contenido 5</h4><app-sustitution></app-sustitution></mat-tab>
</mat-tab-group>
<div style="padding: 30px ;"></div>