:host ::ng-deep .mat-tab-header{
    background-color: #292b2c;
}
:host ::ng-deep th.mat-header-cell {
    position: -webkit-sticky!important;
    position: sticky!important;
}
h2{
    margin-top: 25px;
    margin-left: 25px;
}
.cont{
    width:90%;margin-left:5%;
}
