<h2>{{title}} {{estado}} {{periodo}}</h2>
<br>
<div class="cont">
    <div *ngIf="estado=='Generado'">
        <mat-tab-group style="height: 100vh">
            <mat-tab label="Generadas">
                <app-gen></app-gen>
            </mat-tab>
            <mat-tab label="En Sustitucion">
                <app-sustitution></app-sustitution>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="estado=='No Generado'">
        <mat-tab-group style="height: 100vh">
            <mat-tab label="No generadas">
                <app-nongen [nongenHerencia]="periodo"[compañia]="title"></app-nongen>
            </mat-tab>
            <mat-tab label="Precanceladas">
                <app-pending></app-pending>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="estado=='Error'">
        <app-error></app-error>
    </div>