:host ::ng-deep .mat-tab-header{
    top: 0;
    z-index: 1000; 
    position: sticky;
    position: -webkit-sticky;
    background-color: #292b2c;
}
h2{
    margin-top: 25px;
    margin-left: 25px;
}