<br>
<br>
<div class="container border rounded">
    <form class="row g-3 p-5">
        <div class="col-md-6">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label">Matricula</label>
          <input type="password" class="form-control">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Tipo de nomina</label>
        <select class="form-select">
            <option selected>Deducciones de nomina</option>
        </select>
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Periodo</label>
          <input type="text" class="form-control" placeholder="2022-05-24">
        </div>
        <div class="col-md-4">
            <label for="inputCity" class="form-label">Deducciones</label>
            <input type="text" class="form-control" >
          </div>
        <div class="col-md-4">
          <label for="inputCity" class="form-label">Percepciones</label>
          <input type="text" class="form-control" >
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Empresa</label>
          <select class="form-select">
            <option selected>Cice</option>
            <option>OPAI</option>
          </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Importe</label>
            <input type="password" class="form-control">
          </div>
      </form>
</div>