<br>
<br>
<div class="container border rounded">
  <div class="row g-3 p-5">
    <div class="col-md-6">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" placeholder="Ernesto Alvarez">
    </div>
    <div class="col-md-6">
      <label class="form-label">Matricula</label>
      <input type="password" class="form-control" placeholder="25653121" disabled>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Tipo de nomina</label>
      <input type="text" class="form-control" value="Deducciones de nomina" disabled>
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Periodo</label>
      <input type="text" class="form-control" value="194081" disabled>
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Deducciones</label>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Percepciones</label>
      <ul class="list-group">
        <li class="list-group-item" *ngIf="xx.x!=null">{{xx.x}}</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Otros pagos</label>
      <ul class="list-group">
        <li class="list-group-item" *ngIf="xx.x!=null">{{xx.x}}</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Empresa</label>
      <input type="text" class="form-control" value="CICE" disabled>
    </div>
    <div class="col-md-4">
      <label class="form-label">Importe Total</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>